/* Body background and font */
body {
  background: #f6f5f5;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Sansita Swashed', cursive; */
}

h4{
  font-size: 400%;
}

p{
  font-size: 110%;
}

/* Navbar */

nav{
  background-color: #00334e;
}
.navbar-brand{
  font-family: 'Sansita Swashed', cursive;
  color: #ee6f57;
}

.nav-links{
  color: #ee6f57;
  padding: 0.5rem;
}

.nav-links,
.nav-visited{
  color: #ee6f57;
}


.nav-links:hover{
  color: #ee6f57;
  border: 2px solid #ee6f57;
  transition: 0.3s ease;
  text-decoration: none;
}

.nav-links:active{
  color: #ee6f57;
}

/* Organizing the page */
.main{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/* To do list */
.to-do-container{
  padding:1.25rem;
  width: 100%;
}

.header{

    height:200px;
    background-image: url('https://images.watercolormisfit.com/wp-content/uploads/2019/11/16184909/ABSTRACT-WATERCOLOR2.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ content ------------ */
.content{
    width:100%;
    height: 100%;
    max-height:350px;
    background-color: #FFF;
    overflow: auto;
}
.content::-webkit-scrollbar {
    display: none;
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 360px;
    height:40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}


/* Timer */
.pomodoro{
  width:100%;
}
.heading {
  color: #00334e;
}

.row{
  width: 100%;
}

.timer{
  color: #00334e;
  text-align: center;
  width: 20rem;
  height: 20rem;
  border: 5px solid #145374;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-play,
.fa-redo-alt,
.fa-minus,
.fa-plus,
.fa-pause {
  color: #145374;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 2rem;
}

.fa-play:hover,
.fa-redo-alt:hover,
.fa-minus:hover,
.fa-plus:hover,
.fa-pause:hover
 {
  color: #ee6f57;
  border: 2px solid #ee6f57;
  transition: 0.3s ease;
}

.set-timer{
  justify-content: center;
  align-items: center;

}

.timer-text{
  justify-content: center;
  align-items: center;
}

.timer-row{
  font-size: 200%;
}

/* Play and Puase buttons */
#play-button{
  display: block;
}

#pause-button,
#resume-button{
  display: none;
}
/* Dynamic class */
/* Make the message visible */
.show_message {
  display: block;
  padding: 1rem 0;
  color: #272343;
  background: #e3f6f5;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}


/* Main background #f6f5f5
Nav bar and main highligh color #00334e
Heading and highlight word color #ee6f57
Main word color #145374 */
